{% extends 'base.html' %}
{% load staticfiles %}
{% load el_pagination_tags %}



{% block content %}
    <div class="container">
        <!-- ========================================= SIDEBAR ========================================= -->
        <div class="col-xs-12 col-sm-3 no-margin sidebar narrow">

            <!-- ========================================= PRODUCT FILTER ========================================= -->

            <!-- =========== Category Tree ============= -->
            <!-- ========================================= CATEGORY TREE ========================================= -->
            <div class="widget accordion-widget category-accordions">
                <div class="body bordered">
                    <h1 class="border text-primary">Category Tree</h1>
                    {% for main in main_category %}
                        <div class="accordion">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle active" data-toggle="collapse" href="#{{ main.id }}">
                                        {{ main.title }}
                                    </a>
                                </div>
                                <div id="{{ main.id }}" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        {% for category in main.default_main_category.all %}
                                            <ul>
                                                <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                                                </li>
                                            </ul>
                                        {% endfor %}
                                    </div><!-- /.accordion-inner -->
                                </div>
                            </div><!-- /.accordion -->
                        </div><!-- /.category-accordions -->
                    {% endfor %}
                </div>
            </div>
            <!-- ========================================= CATEGORY TREE : END ========================================= -->


            <div class="widget">
                <div class="simple-banner">
                    <a href="#"><img alt="" class="img-responsive" src="{% static 'assets/images/blank.gif' %}"
                                     data-echo="{% static 'assets/images/banners/banner-simple.jpg' %}"/></a>
                </div>
            </div>
            <!-- ========================================= FEATURED PRODUCTS ========================================= -->
            <div class="widget">
                <h1 class="border">Featured Products</h1>
                <ul class="product-list">

                    <li class="sidebar-product-list-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 no-margin">
                                <a href="#" class="thumb-holder">
                                    <img alt="" src="{% static 'assets/images/blank.gif' %}"
                                         data-echo="{% static 'assets/images/products/product-small-02.jpg' %}"/>
                                </a>
                            </div>
                            <div class="col-xs-8 col-sm-8 no-margin">
                                <a href="#">PowerShot Elph 115 16MP Digital Camera</a>
                                <div class="price">
                                    <div class="price-prev">$2000</div>
                                    <div class="price-current">$1873</div>
                                </div>
                            </div>
                        </div>
                    </li><!-- /.sidebar-product-list-item -->
                </ul><!-- /.product-list -->
            </div><!-- /.widget -->
            <!-- ========================================= FEATURED PRODUCTS : END ========================================= -->
        </div>

        <div class="col-xs-12 col-sm-9 no-margin wide sidebar">
            {% for cat_img in category.categoryimage_set.all %}
                <div id="grid-page-banner">
                    <img height="227" width="899"
                         src="{{ cat_img.image.url }}" alt=""/>
                    {# {% static 'assets/images/banners/web-development-banner-cheapes.jpg' %} #}
                </div>
            {% endfor %}
            <section id="gaming">
                <div class="grid-list-products">
                    <h2 class="section-title">{{ object.title }}</h2>

                    <div class="tab-content">
                        <div id="list-view" class="products-grid fade tab-pane in active">

                            <div class="products-list">
                                {% paginate courses %}
                                {% for course in courses %}
                                    <div class="product-item product-item-holder">
                                        <div class="ribbon green"><span>-{{ course.discount }}% off</span></div>
                                        <div class="row">
                                            {% for img in course.courseimage_set.all %}
                                                <div class="no-margin col-xs-12 col-sm-4 image-holder">
                                                    <div class="image">
                                                        <img height="170" width="250" id="img" alt=""
                                                             src="{{ img.image.url }} "/>
                                                    </div>
                                                </div><!-- /.image-holder -->
                                            {% endfor %}

                                            <div class="no-margin col-xs-12 col-sm-5 body-holder">
                                                <div class="body">
                                                    <!--    <div class="label-discount green">-50% sale</div> -->
                                                    <div class="title">
                                                        <a href="{{ course.get_absolute_url }}">{{ course.title }}</a>
                                                    </div>

                                                    <div class="text-default">{{ course.sub_title | capfirst| truncatechars:'118' }}
                                                    </div>

                                                    <div class="excerpt">
                                                        <p class="text-default">{{ course.description|truncatechars:'300' }}</p>
                                                    </div>
                                                    <div class="title"><a class="review_add" href="#"></a>
                                                    </div>
                                                </div>
                                            </div><!-- /.body-holder -->
                                            <div class="no-margin col-xs-12 col-sm-3 price-area">
                                                <div class="right-clmn">
                                                    <div class="price-current">$ {{ course.sale_price }}</div>
                                                    <div class="price-prev">
                                                        <span style="text-decoration: line-through;">$ {{ course.actual_price }}</span></div>
                                                    <div class="title ">Provider:
                                                        <label class="text-primary">{{ course.course_provider }}</label>
                                                    </div>
                                                    <a class="le-button" href="{{ course.url }}">Course</a>
                                                    <div class="title">Enrolled: <label class="text-primary">5,000+
                                                        students</label></div>
                                                </div><!-- /.price-area -->
                                            </div><!-- /.row -->


                                        </div><!-- /.product-item -->

                                    </div><!-- /.products-list -->
                                {% endfor %}
                                {% get_pages %}

                                <!-- Pagination Section START -->
                                <div class="col-md-offset-3">
                                    <ul class="pagination">
                                        {% if pages.paginated %}
                                            <li class="page-item">
                                                <a class="page-link" href="{{ pages.first.path }}"
                                                   aria-label="First">
                                                    <span aria-hidden="true">&lt;&lt;</span>
                                                    <span class="sr-only">First</span>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="{{ pages.previous.path }}"
                                                   aria-label="Previous">
                                                    <span aria-hidden="true">&lt;</span>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                            </li>
                                            {% for page in pages %}
                                                {% if page == None %}
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="#" aria-label="...">
                                                            <span aria-hidden="true">...</span>
                                                            <span class="sr-only">...</span>
                                                        </a>
                                                    </li>
                                                {% else %}
                                                    <li class="page-item {% if page.is_current %} active {% endif %}">
                                                        <a class="page-link" href="{{ page.path }}"
                                                           aria-label="Page {{ page.number }}">
                                                            <span aria-hidden="true">{{ page.label|safe }}</span>
                                                            <span class="sr-only">Page {{ page.number }}</span>
                                                        </a>
                                                    </li>
                                                {% endif %}
                                            {% endfor %}
                                            <li class="page-item">
                                                <a class="page-link" href="{{ pages.next.path }}" aria-label="Next">
                                                    <span aria-hidden="true">&gt;</span>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="{{ pages.last.path }}" aria-label="Last">
                                                    <span aria-hidden="true">&gt;&gt;</span>
                                                    <span class="sr-only">Last</span>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                                <!-- /.pagination-holder -->
                            </div><!-- /.products-grid #list-view -->
                        </div><!-- /.tab-content -->
                    </div><!-- /.grid-list-products -->
                </div>
            </section><!-- /#gaming -->
        </div><!-- /.col -->
        <!-- ========================================= CONTENT : END ========================================= -->
    </div><!-- /.container -->

{% endblock %}