{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <body>

    <div class="wrapper">
        <section class="sidebar-page">
            <div class="container">

                <!-- ========================================= SIDEBAR ========================================= -->
                <div class="col-xs-12 col-sm-3 no-margin sidebar narrow">
                    <!-- ========================================= CATEGORY TREE ========================================= -->
                    <div class="widget accordion-widget category-accordions">
                        <div class="body bordered">
                            <h1 class="border text-primary">Category Tree</h1>
                            {% for main in main_category %}
                                <div class="accordion">
                                    <div class="accordion-group">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle active" data-toggle="collapse"
                                               href="#{{ main.id }}">
                                                {{ main.title }}
                                            </a>
                                        </div>
                                        <div id="{{ main.id }}" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                {% for category in main.default_main_category.all %}
                                                    <ul>
                                                        <li>
                                                            <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                                                        </li>
                                                    </ul>
                                                {% endfor %}
                                            </div><!-- /.accordion-inner -->
                                        </div>
                                    </div><!-- /.accordion -->
                                </div><!-- /.category-accordions -->
                            {% endfor %}
                        </div>
                    </div>
                    <!-- ========================================= CATEGORY TREE : END ========================================= -->

                    <div class="widget">
                        <h1 class="border">Featured Products</h1>
                        <ul class="product-list">

                            {% for course in related %}
                                <li class="sidebar-product-list-item">
                                    <div class="row">
                                        {% for img in course.courseimage_set.all %}
                                            <div class="col-xs-4 col-sm-4 no-margin">
                                                <a href="#" class="thumb-holder">
                                                    <img id="img" src="{{ img.image.url }}"/>
                                                </a>
                                            </div>
                                        {% endfor %}
                                        <div class="col-xs-8 col-sm-8 no-margin">
                                            <a href="{{ course.get_absolute_url }}">{{ course.title|truncatechars:'30' }}</a>
                                            <div class="price">
                                                <div class="price-prev">${{ course.actual_price }}</div>
                                                <div class="price-current">${{ course.sale_price }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </li><!-- /.sidebar-product-list-item -->
                            {% endfor %}


                        </ul><!-- /.product-list -->
                    </div><!-- /.widget -->
                    <!-- ========================================= FEATURED PRODUCTS : END ========================================= -->
                </div>
                <!-- ========================================= SIDEBAR : END ========================================= -->

                <!-- ========================================= CONTENT ========================================= -->

                <div class="col-xs-12 col-sm-9 no-margin wide sidebar page-main-content">
                    <div id="single-product" class="row">

                        <div class="no-margin col-xs-12 col-sm-6 col-md-5 gallery-holder">
                            <div class="product-item-holder size-big single-product-gallery">
                                {% for img in object.courseimage_set.all %}
                                    <div id="owl-single-product">

                                        <a data-rel="prettyphoto" href="#">
                                            <div class="ribbon green"><span>-{{ object.discount }}% off</span></div>
                                            <img class="img-responsive" alt="" src="{{ img.image.url }}">
                                        </a>

                                    </div><!-- /.single-product-slider -->
                                {% endfor %}
                            </div><!-- /.single-product-gallery -->
                        </div><!-- /.gallery-holder -->
                        <div class="no-margin col-xs-12 col-sm-7 body-holder">
                            <div class="body">
                                <div class="title">
                                    <a href="{{ object.get_absolute_url }}">{{ object.title|title }}</a>
                                </div>
                                <br>

                                <div class="social-row">
                                    <span class="st_facebook_hcount"></span>
                                    <span class="st_twitter_hcount"></span>
                                    <span class="st_pinterest_hcount"></span>
                                </div>
                                <br>
                                <div class="buttons-holder">
                                    <a style="color: black" href="#">Course Provider: <span class="text-primary bold">{{ object.course_provider }}</span> </a>

                                </div>

                                <div class="excerpt">
                                    <p>{{ object.sub_title }}</p>
                                </div>

                                <div class="prices">
                                    <div class="price-current">${{ object.sale_price }}</div>
                                    <div class="price-prev">${{ object.actual_price }}</div>
                                </div>


                                <div class="qnt-holder">
                                    <a href="{{ object.url }}" class="le-button huge" target="_blank">Take This
                                        Course</a>
                                </div><!-- /.qnt-holder -->
                            </div><!-- /.body -->

                        </div><!-- /.body-holder -->
                    </div><!-- /.row #single-product -->

                    <!-- ========================================= SINGLE PRODUCT TAB ========================================= -->
                    <section id="single-product-tab">
                        <div class="no-container">
                            <div class="tab-holder">

                                <ul class="nav nav-tabs simple">
                                    <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                                    <li><a href="#additional-info" data-toggle="tab">Course Information</a></li>
                                </ul><!-- /.nav-tabs -->

                                <div class="tab-content">
                                    <div class="tab-pane active" id="description">
                                        <p>{{ object.description|linebreaks|truncatechars:'5000' }}</p>

                                        <div class="meta-row">
                                            <div class="inline">
                                                <label>categories:</label>
                                                <span><a
                                                        href="{{ object.default.get_absolute_url }}">{{ object.default }}</a></span>
                                                <span><a href="#"></a></span>
                                                <span><a href="#"></a></span>
                                            </div><!-- /.inline -->

                                            <span class="seperator">/</span>

                                            <div class="inline">
                                                <label>tag:</label>
                                                <span><a href="#">fast</a>,</span>
                                                <span><a href="#">gaming</a>,</span>
                                                <span><a href="#">strong</a></span>
                                            </div><!-- /.inline -->
                                        </div><!-- /.meta-row -->
                                    </div><!-- /.tab-pane #description -->

                                    <div class="tab-pane" id="additional-info">
                                        <ul class="tabled-data">
                                            <li>
                                                <label>Video Contents</label>
                                                <div class="value">100</div>
                                            </li>
                                            <li>
                                                <label>hrs</label>
                                                <div class="value">6.4 hrs</div>
                                            </li>
                                            <li>
                                                <label>Level</label>
                                                <div class="value">For alls</div>
                                            </li>
                                            <li>
                                                <label>color</label>
                                                <div class="value">white</div>
                                            </li>
                                            <li>
                                                <label>guarantee</label>
                                                <div class="value">5 years</div>
                                            </li>
                                        </ul><!-- /.tabled-data -->

                                        <div class="meta-row">
                                            <div class="inline">
                                                <label>categories:</label>
                                                <span><a href="{{ object.get_absolute_url }}">{{ object.default }}</a></span>

                                            </div><!-- /.inline -->

                                            <span class="seperator">/</span>

                                            <div class="inline">
                                                <label>tag:</label>
                                                <span><a href="#">fast</a>,</span>
                                                <span><a href="#">gaming</a>,</span>
                                                <span><a href="#">strong</a></span>
                                            </div><!-- /.inline -->
                                        </div><!-- /.meta-row -->
                                    </div><!-- /.tab-pane #additional-info -->
                                </div><!-- /.tab-content -->

                            </div><!-- /.tab-holder -->
                        </div><!-- /.container -->
                    </section><!-- /#single-product-tab -->
                    <!-- ========================================= SINGLE PRODUCT TAB : END ========================================= -->
                    <!-- ========================================= Related Courses ========================================= -->
                    <section id="recently-reviewd" class="wow fadeInUp">
                        <div class="no-container">
                            <div class="carousel-holder hover">

                                <div class="title-nav">
                                    <h2 class="h1">Related Courses </h2>
                                    <div class="nav-holder">
                                        <a href="#prev" data-target="#owl-recently-viewed-2"
                                           class="slider-prev btn-prev fa fa-angle-left"></a>
                                        <a href="#next" data-target="#owl-recently-viewed-2"
                                           class="slider-next btn-next fa fa-angle-right"></a>
                                    </div>
                                </div><!-- /.title-nav -->

                                <div id="owl-recently-viewed-2" class="owl-carousel product-grid-holder">
                                    {% for course in related %}
                                        <div class="no-margin carousel-item product-item-holder size-medium hover">

                                            <div class="product-item">

                                                {% for img in course.courseimage_set.all %}

                                                    <img height="130" width="200" alt="" src="{{ img.image.url }}"/>

                                                {% endfor %}

                                                <div class="body">
                                                    <div class="title">
                                                        <a href="{{ course.get_absolute_url }}">{{ course.title }}</a>
                                                    </div>
                                                    <div class="brand">{{ course.sub_title|truncatechars:'20' }}</div>
                                                </div>
                                                <div class="prices">
                                                    <div class="price-current text-left">${{ course.sale_price }}<span class="text-right"> {{ course.actual_price }}</span></div>

                                                </div>
                                                <div class="hover-area">
                                                    <div class="add-cart-button">
                                                        <a href="{{ course.get_absolute_url }}" class="le-button">Go To
                                                            Course</a>
                                                    </div>
                                                    <div class="wish-compare">
                                                        <a class="btn-add-to-wishlist" href="#">Add to Wishlist</a>
                                                        <a class="btn-add-to-compare" href="#">Compare</a>
                                                    </div>
                                                </div>

                                            </div><!-- /.product-item -->

                                        </div><!-- /.product-item-holder -->
                                    {% endfor %}
                                    <!-- /.product-item-holder -->
                                </div><!-- /#recently-carousel -->

                            </div><!-- /.carousel-holder -->
                        </div><!-- /.container -->
                    </section><!-- /#recently-reviewd -->
                    <!-- ========================================= RECENTLY VIEWED : END ========================================= -->
                </div><!-- /.page-main-content -->
                <!-- ========================================= CONTENT : END ========================================= -->

            </div><!-- /.container -->
        </section><!-- /.sidebar-page -->

    </div><!-- /.wrapper -->

    </body>
{% endblock %}
