{% load staticfiles %}
{% include 'css_file.html' %}

{% include 'top_navigation.html' %}

{% include 'header.html' %}

<div class="container">
    {% for course in queryset %}
        <div class="col-sm-4 col-md-3  no-margin product-item-holder">
                            <div class="product-item">
                                <!--<div class="ribbon red"><span>sale</span></div> -->
                                <div class="image">
                                    <img alt="" src="{% static 'assets/images/blank.gif' %}" data-echo="{% static 'assets/images/products/product-01.jpg' %}" />
                                </div>

                                <div class="body">

                                    <div class="label-discount green">-{{ course.discount }}% sale</div>
                                    <div class="title">
                                        <a href="{% url 'single-product' %}">{{ course.title|truncatechars:'30' }}</a>
                                    </div>
                                    <div class="brand">{{ course.sub_title|truncatechars:'30' }}</div>

                                </div>

                                <div class="prices">
                                    <div class="price-prev">${{ course.actual_price }}</div>
                                    <div class="price-current pull-right">${{ course.sale_price }}</div>
                                </div>

                            <!--    <div class="hover-area">
                                    <div class="add-cart-button">
                                        <a href="{% url 'single-product' %}" class="le-button">Take This Course</a>
                                    </div>
                                    <div class="wish-compare">
                                        <a class="pull-left" href="#">Author Name</a>
                                        <a class="review_add pull-right" href="#"> {{ course.review }} </a>
                                    </div>
                                </div> -->
                            </div>
        </div>

    {% cycle '' '' '' '' '' '' '</div></div class="container">' %}
    {% endfor %}

</div>
<br>

<div class="container">
{% include 'footer.html' %}
</div>

{% include 'javascript_file.html' %}