{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
	    <meta name="keywords" content="MediaCenter, Template, eCommerce">
	    <meta name="robots" content="all">

	    <title>MediaCenter - Responsive eCommerce Template</title>

	    <!-- Bootstrap Core CSS -->
	    {% include 'css_file.html' %}

	</head>
<body>
	
	<div class="wrapper">
		<!-- ============================================================= TOP NAVIGATION ============================================================= -->
{% include 'top_navigation.html' %}
<!-- ============================================================= TOP NAVIGATION : END ============================================================= -->		<!-- ============================================================= HEADER ============================================================= -->
{% include 'header.html' %}
<!-- ============================================================= HEADER : END ============================================================= -->		<section class="sidebar-page">
    <div class="container">
        
        <!-- ========================================= SIDEBAR ========================================= -->
        <div class="col-xs-12 col-sm-3 no-margin sidebar narrow">

            <!-- ========================================= PRODUCT FILTER ========================================= -->

<!-- ========================================= PRODUCT FILTER : END ========================================= -->
            <!-- ========================================= CATEGORY TREE ========================================= -->
<div class="widget accordion-widget category-accordions body-bordered">
    <h1 class="border">Category Tree</h1>
    <div class="accordion">
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">
                    laptops &amp; computers
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <ul>
                        <li>
                            <div class="accordion-heading">
                                <a href="#collapseSub1" data-toggle="collapse">laptop</a>
                            </div>
                            <div id="collapseSub1" class="accordion-body collapse in">
                                <ul>
                                    <li><a href="#">Two Level Accordion</a></li>
                                </ul>
                            </div><!-- /.accordion-body -->
                        </li>
                        <li>
                            <div class="accordion-heading">
                                <a href="#collapseSub2" data-toggle="collapse">tablet</a>
                            </div>
                            <div id="collapseSub2" class="accordion-body collapse in">
                                <ul>
                                    <li>
                                        <div class="accordion-heading">
                                            <a href="#collapseSub3" data-toggle="collapse">Three Level Accordion</a>
                                        </div>
                                        <div id="collapseSub3" class="accordion-body collapse in">
                                            <ul>
                                                <li><a href="#">PDA</a></li>
                                                <li><a href="#">notebook</a></li>
                                                <li><a href="#">mini notebook</a></li>
                                            </ul>
                                        </div><!-- /.accordion-body -->
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="#">PDA</a></li>
                        <li><a href="#">notebook</a></li>
                        <li><a href="#">mini notebook</a></li>
                    </ul>
                </div><!-- /.accordion-inner -->
            </div>
        </div><!-- /.accordion-group -->

        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapseTwo">
                    desktop PC
                </a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul>
                        <li><a href="#">gaming</a></li>
                        <li><a href="#">office</a></li>
                        <li><a href="#">kids</a></li>
                        <li><a href="#">for women</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.accordion-group -->


        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse"  href="#collapse3">
                    laptops
                </a>
            </div>
            <div id="collapse3" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul>
                        <li><a href="#">light weight</a></li>
                        <li><a href="#">wide monitor</a></li>
                        <li><a href="#">ultra laptop</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.accordion-group -->


        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse"  href="#collapse4">
                    notebooks
                </a>
            </div>
            <div id="collapse4" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ul>
                        <li><a href="#">light weight</a></li>
                        <li><a href="#">wide monitor</a></li>
                        <li><a href="#">ultra laptop</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.accordion-group -->

    </div><!-- /.accordion -->
</div><!-- /.category-accordions -->
<!-- ========================================= CATEGORY TREE : END ========================================= -->            
            <!-- ========================================= LINKS ========================================= -->

<!-- ========================================= LINKS : END ========================================= -->            
 <!--
            <div class="widget">
	<div class="simple-banner">
		<a href="#"><img alt="" class="img-responsive" src="{% static 'assets/images/blank.gif' %}" data-echo="{% static 'assets/images/banners/banner-simple.jpg' %}" /></a>
	</div>
</div>
                        <div class="widget">
	<div class="simple-banner">
		<a href="#"><img alt="" class="img-responsive" src="{% static 'assets/images/blank.gif' %}" data-echo="{% static 'assets/images/banners/banner-simple.jpg' %}" /></a>
	</div>
</div>
            -->
            <!-- ========================================= FEATURED PRODUCTS ========================================= -->
<div class="widget">
    <h1 class="border">Featured Products</h1>
    <ul class="product-list">
        
        <li class="sidebar-product-list-item">
            <div class="row">
                <div class="col-xs-4 col-sm-4 no-margin">
                    <a href="#" class="thumb-holder">
                        <img alt="" src="{% static 'assets/images/blank.gif' %}" data-echo="{% static 'assets/images/products/product-small-01.jpg' %}" />
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 no-margin">
                    <a href="#">Netbook Acer </a>
                    <div class="price">
                        <div class="price-prev">$2000</div>
                        <div class="price-current">$1873</div>
                    </div>
                </div>  
            </div>
        </li><!-- /.sidebar-product-list-item -->

        <li class="sidebar-product-list-item">
            <div class="row">
                <div class="col-xs-4 col-sm-4 no-margin">
                    <a href="#" class="thumb-holder">
                        <img alt="" src="{% static 'assets/images/blank.gif' %}" data-echo="{% static 'assets/images/products/product-small-02.jpg' %}"/>
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 no-margin">
                    <a href="#">PowerShot Elph 115 16MP Digital Camera</a>
                    <div class="price">
                        <div class="price-prev">$2000</div>
                        <div class="price-current">$1873</div>
                    </div>
                </div>  
            </div>
        </li><!-- /.sidebar-product-list-item -->

        <li class="sidebar-product-list-item">
            <div class="row">
                <div class="col-xs-4 col-sm-4 no-margin">
                    <a href="#" class="thumb-holder">
                        <img alt="" src="{% static 'assets/images/blank.gif' %}" data-echo="{% static 'assets/images/products/product-small-03.jpg' %}" />
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 no-margin">
                    <a href="#">PowerShot Elph 115 16MP Digital Camera</a>
                    <div class="price">
                        <div class="price-prev">$2000</div>
                        <div class="price-current">$1873</div>
                    </div>
                </div>  
            </div>
        </li><!-- /.sidebar-product-list-item -->

        <li class="sidebar-product-list-item">
            <div class="row">
                <div class="col-xs-4 col-sm-4 no-margin">
                    <a href="#" class="thumb-holder">
                        <img alt="" src="{% static 'assets/images/blank.gif' %}" data-echo="{% static 'assets/images/products/product-small-01.jpg' %}" />
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 no-margin">
                    <a href="#">Netbook Acer </a>
                    <div class="price">
                        <div class="price-prev">$2000</div>
                        <div class="price-current">$1873</div>
                    </div>
                </div>  
            </div>
        </li><!-- /.sidebar-product-list-item -->
        
        <li class="sidebar-product-list-item">
            <div class="row">
                <div class="col-xs-4 col-sm-4 no-margin">
                    <a href="#" class="thumb-holder">
                        <img alt="" src="{% static 'assets/images/blank.gif' %}" data-echo="{% static 'assets/images/products/product-small-02.jpg' %}" />
                    </a>
                </div>
                <div class="col-xs-8 col-sm-8 no-margin">
                    <a href="#">PowerShot Elph 115 16MP Digital Camera</a>
                    <div class="price">
                        <div class="price-prev">$2000</div>
                        <div class="price-current">$1873</div>
                    </div>
                </div>
            </div>
        </li><!-- /.sidebar-product-list-item -->

    </ul><!-- /.product-list -->
</div><!-- /.widget -->
<!-- ========================================= FEATURED PRODUCTS : END ========================================= -->            
        </div>
        <!-- ========================================= SIDEBAR : END ========================================= -->

        <!-- ========================================= CONTENT ========================================= -->

        <div class="col-xs-12 col-sm-9 no-margin wide sidebar page-main-content">
            <div id="single-product" class="row">

                 <div class="no-margin col-xs-12 col-sm-6 col-md-5 gallery-holder">
    <div class="product-item-holder size-big single-product-gallery small-gallery">

        <div id="owl-single-product">
            <div class="single-product-gallery-item" id="slide1">
                <a data-rel="prettyphoto" href="{% static 'assets/images/products/product-gallery-01.jpg' %}">
                    <img class="img-responsive" alt="" src="{% static 'assets/images/blank.gif' %}" data-echo="{% static 'assets/images/products/product-gallery-01.jpg' %}" />
                </a>
            </div><!-- /.single-product-gallery-item -->

            <div class="single-product-gallery-item" id="slide2">
                <a data-rel="prettyphoto" href="{{ object.image.url }}">
                    <img class="img-responsive" alt="" src="{{ object.image.url }}" />
                </a>
            </div><!-- /.single-product-gallery-item -->

            <div class="single-product-gallery-item" id="slide3">
                <a data-rel="prettyphoto" href="{{ object.image.url }}">
                    <img class="img-responsive" id="img" src="{{ object.image.url }}" />
                </a>
            </div><!-- /.single-product-gallery-item -->

        </div><!-- /.single-product-slider -->


       <!-- /.gallery-thumbs -->

    </div><!-- /.single-product-gallery -->
</div><!-- /.gallery-holder -->
                <div class="no-margin col-xs-12 col-sm-7 body-holder">
    <div class="body">
        <!--<div class="star-holder inline"><div class="star" data-score="4"></div></div> -->
        <!--<div class="availability"><label>Availability:</label><span class="available">  in stock</span></div> -->

        <div class="title"><a href="#">{{ object.title|capfirst }}</a></div>
        <br/>
        <div class="social-row">
            <span class="st_facebook_hcount"></span>
            <span class="st_twitter_hcount"></span>
            <span class="st_pinterest_hcount"></span>
        </div>


        <div class="excerpt">
            <p>{{ object.sub_title}}</p>
        </div>
        
        <div class="prices">
            <div class="price-current">${{ object.sale_price }}</div>
            <div class="price-prev">${{ object.actual_price }}</div>
        </div>

        <div class="qnt-holder">
            <a id="addto-cart" href="#" class="le-button huge">Take This Course</a>
        </div><!-- /.qnt-holder -->
    </div><!-- /.body -->

</div><!-- /.body-holder -->
            </div><!-- /.row #single-product -->

            <!-- ========================================= SINGLE PRODUCT TAB ========================================= -->
<section id="single-product-tab">
    <div class="no-container">
        <div class="tab-holder">
            
            <ul class="nav nav-tabs simple" >
                <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
                <li><a href="#additional-info" data-toggle="tab">Course Information</a></li>
                <li><a href="#reviews" data-toggle="tab">Reviews (3)</a></li>
            </ul><!-- /.nav-tabs -->

            <div class="tab-content">
                <div class="tab-pane active" id="description">
                    <p>{{ object.description|linebreaks|truncatechars:'1000' }}</p>

                    <div class="meta-row">
                        <div class="inline">
                            <label>Course id:</label>
                            <span>{{ object.id }}</span>
                        </div><!-- /.inline -->

                        <span class="seperator">/</span>

                        <div class="inline">
                            <label>categories:</label>
                            <span><a href="#">{{ object.default }}</a></span>
                            <span><a href="#"></a></span>
                            <span><a href="#"></a></span>
                        </div><!-- /.inline -->

                        <span class="seperator">/</span>

                        <div class="inline">
                            <label>tag:</label>
                            <span><a href="#">fast</a>,</span>
                            <span><a href="#">gaming</a>,</span>
                            <span><a href="#">strong</a></span>
                        </div><!-- /.inline -->
                    </div><!-- /.meta-row -->
                </div><!-- /.tab-pane #description -->

                <div class="tab-pane" id="additional-info">
                    <ul class="tabled-data">
                        <li>
                            <label>Video Contents</label>
                            <div class="value">100 </div>
                        </li>
                        <li>
                            <label>hrs</label>
                            <div class="value">6.4 hrs</div>
                        </li>
                        <li>
                            <label>Level</label>
                            <div class="value">For alls</div>
                        </li>
                        <li>
                            <label>color</label>
                            <div class="value">white</div>
                        </li>
                        <li>
                            <label>guarantee</label>
                            <div class="value">5 years</div>
                        </li>
                    </ul><!-- /.tabled-data -->

                    <div class="meta-row">
                        <div class="inline">
                            <label>SKU:</label>
                            <span>54687621</span>
                        </div><!-- /.inline -->

                        <span class="seperator">/</span>

                        <div class="inline">
                            <label>categories:</label>
                            <span><a href="#">-50% sale</a>,</span>
                            <span><a href="#">gaming</a>,</span>
                            <span><a href="#">desktop PC</a></span>
                        </div><!-- /.inline -->

                        <span class="seperator">/</span>

                        <div class="inline">
                            <label>tag:</label>
                            <span><a href="#">fast</a>,</span>
                            <span><a href="#">gaming</a>,</span>
                            <span><a href="#">strong</a></span>
                        </div><!-- /.inline -->
                    </div><!-- /.meta-row -->
                </div><!-- /.tab-pane #additional-info -->


                <div class="tab-pane" id="reviews">
                    <div class="comments">
                        <div class="comment-item">
                            <div class="row no-margin">
                                <div class="col-lg-1 col-xs-12 col-sm-2 no-margin">
                                    <div class="avatar">
                                        <img alt="avatar" src="{% static 'assets/images/default-avatar.jpg' %}">
                                    </div><!-- /.avatar -->
                                </div><!-- /.col -->

                                <div class="col-xs-12 col-lg-11 col-sm-10 ">
                                    <div class="comment-body">
                                        <div class="meta-info">
                                            <div class="author inline">
                                                <a href="#" class="bold">John Smith</a>
                                            </div>
                                            <div class="star-holder inline">
                                                <div class="star" data-score="4"></div>
                                            </div>
                                            <div class="date inline pull-right">
                                                12.07.2013
                                            </div>
                                        </div><!-- /.meta-info -->
                                        <p class="comment-text">
                                            Integer id purus ultricies nunc tincidunt congue vitae nec felis. Vivamus sit amet nisl convallis, faucibus risus in, suscipit sapien. Vestibulum egestas interdum tellus id venenatis. 
                                        </p><!-- /.comment-text -->
                                    </div><!-- /.comment-body -->

                                </div><!-- /.col -->

                            </div><!-- /.row -->
                        </div><!-- /.comment-item -->

                        <div class="comment-item">
                            <div class="row no-margin">
                                <div class="col-lg-1 col-xs-12 col-sm-2 no-margin">
                                    <div class="avatar">
                                        <img alt="avatar" src="{% static 'assets/images/default-avatar.jpg' %}">
                                    </div><!-- /.avatar -->
                                </div><!-- /.col -->

                                <div class="col-xs-12 col-lg-11 col-sm-10 ">
                                    <div class="comment-body">
                                        <div class="meta-info">
                                            <div class="author inline">
                                                <a href="#" class="bold">Jane Smith</a>
                                            </div>
                                            <div class="star-holder inline">
                                                <div class="star" data-score="5"></div>
                                            </div>
                                            <div class="date inline pull-right">
                                                12.07.2013
                                            </div>
                                        </div><!-- /.meta-info -->
                                        <p class="comment-text">
                                            Integer id purus ultricies nunc tincidunt congue vitae nec felis. Vivamus sit amet nisl convallis, faucibus risus in, suscipit sapien. Vestibulum egestas interdum tellus id venenatis. 
                                        </p><!-- /.comment-text -->
                                    </div><!-- /.comment-body -->

                                </div><!-- /.col -->

                            </div><!-- /.row -->
                        </div><!-- /.comment-item -->

                        <div class="comment-item">
                            <div class="row no-margin">
                                <div class="col-lg-1 col-xs-12 col-sm-2 no-margin">
                                    <div class="avatar">
                                        <img alt="avatar" src="{% static 'assets/images/default-avatar.jpg' %}">
                                    </div><!-- /.avatar -->
                                </div><!-- /.col -->

                                <div class="col-xs-12 col-lg-11 col-sm-10 ">
                                    <div class="comment-body">
                                        <div class="meta-info">
                                            <div class="author inline">
                                                <a href="#" class="bold">John Doe</a>
                                            </div>
                                            <div class="star-holder inline">
                                                <div class="star" data-score="3"></div>
                                            </div>
                                            <div class="date inline pull-right">
                                                12.07.2013
                                            </div>
                                        </div><!-- /.meta-info -->
                                        <p class="comment-text">
                                            Integer id purus ultricies nunc tincidunt congue vitae nec felis. Vivamus sit amet nisl convallis, faucibus risus in, suscipit sapien. Vestibulum egestas interdum tellus id venenatis. 
                                        </p><!-- /.comment-text -->
                                    </div><!-- /.comment-body -->

                                </div><!-- /.col -->

                            </div><!-- /.row -->
                        </div><!-- /.comment-item -->
                    </div><!-- /.comments -->

                    <div class="add-review row">
                        <div class="col-sm-8 col-xs-12">
                            <div class="new-review-form">
                                <h2>Add review</h2>
                                <form id="contact-form" class="contact-form" method="post" >
                                    <div class="row field-row">
                                        <div class="col-xs-12 col-sm-6">
                                            <label>name*</label>
                                            <input class="le-input" >
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <label>email*</label>
                                            <input class="le-input" >
                                        </div>
                                    </div><!-- /.field-row -->
                                    
                                    <div class="field-row star-row">
                                        <label>your rating</label>
                                        <div class="star-holder">
                                            <div class="star big" data-score="0"></div>
                                        </div>
                                    </div><!-- /.field-row -->

                                    <div class="field-row">
                                        <label>your review</label>
                                        <textarea rows="8" class="le-input"></textarea>
                                    </div><!-- /.field-row -->

                                    <div class="buttons-holder">
                                        <button type="submit" class="le-button huge">submit</button>
                                    </div><!-- /.buttons-holder -->
                                </form><!-- /.contact-form -->
                            </div><!-- /.new-review-form -->
                        </div><!-- /.col -->
                    </div><!-- /.add-review -->

                </div><!-- /.tab-pane #reviews -->
            </div><!-- /.tab-content -->

        </div><!-- /.tab-holder -->
    </div><!-- /.container -->
</section><!-- /#single-product-tab -->
<!-- ========================================= SINGLE PRODUCT TAB : END ========================================= -->            
            <!-- ========================================= RECENTLY VIEWED ========================================= -->
<section id="recently-reviewd" class="wow fadeInUp">
	<div class="no-container">
		<div class="carousel-holder hover">
			
			<div class="title-nav">
				<h2 class="h1">Recently Viewed</h2>
				<div class="nav-holder">
					<a href="#prev" data-target="#owl-recently-viewed-2" class="slider-prev btn-prev fa fa-angle-left"></a>
					<a href="#next" data-target="#owl-recently-viewed-2" class="slider-next btn-next fa fa-angle-right"></a>
				</div>
			</div><!-- /.title-nav -->

			<div id="owl-recently-viewed-2" class="owl-carousel product-grid-holder">
				<div class="no-margin carousel-item product-item-holder size-medium hover">
					<div class="product-item">
						<div class="ribbon red"><span>sale</span></div> 
						<div class="image">
							<img alt="" src="{% static 'assets/images/blank.gif' %}" data-echo="{% static 'assets/images/products/product-11.jpg' %}" />
						</div>
						<div class="body">
							<div class="title">
								<a href="single-product.html">LC-70UD1U 70" class aquos 4K ultra HD</a>
							</div>
							<div class="brand">Sharp</div>
						</div>
						<div class="prices">
							<div class="price-current text-right">$1199.00</div>
						</div>
						<div class="hover-area">
							<div class="add-cart-button">
								<a href="single-product.html" class="le-button">Add to Cart</a>
							</div>
							<div class="wish-compare">
								<a class="btn-add-to-wishlist" href="#">Add to Wishlist</a>
								<a class="btn-add-to-compare" href="#">Compare</a>
							</div>
						</div>
					</div><!-- /.product-item -->
				</div><!-- /.product-item-holder -->

				<div class="no-margin carousel-item product-item-holder size-medium hover">
					<div class="product-item">
						<div class="ribbon blue"><span>new!</span></div> 
						<div class="image">
							<img alt="" src="{% static 'assets/images/blank.gif' %}" data-echo="{% static 'assets/images/products/product-12.jpg' %}" />
						</div>
						<div class="body">
							<div class="title">
								<a href="single-product.html">cinemizer OLED 3D virtual reality TV Video</a>
							</div>
							<div class="brand">zeiss</div>
						</div>
						<div class="prices">
							<div class="price-current text-right">$1199.00</div>
						</div>
						<div class="hover-area">
							<div class="add-cart-button">
								<a href="single-product.html" class="le-button">Add to cart</a>
							</div>
							<div class="wish-compare">
								<a class="btn-add-to-wishlist" href="#">Add to Wishlist</a>
								<a class="btn-add-to-compare" href="#">Compare</a>
							</div>
						</div>
					</div><!-- /.product-item -->
				</div><!-- /.product-item-holder -->

				<div class=" no-margin carousel-item product-item-holder size-medium hover">
					<div class="product-item">

						<div class="image">
							<img alt="" src="{% static 'assets/images/blank.gif' %}" data-echo="{% static 'assets/images/products/product-13.jpg' %}" />
						</div>
						<div class="body">
							<div class="title">
								<a href="single-product.html">s2340T23" full HD multi-Touch Monitor</a>
							</div>
							<div class="brand">dell</div>
						</div>
						<div class="prices">
							<div class="price-current text-right">$1199.00</div>
						</div>
						<div class="hover-area">
							<div class="add-cart-button">
								<a href="single-product.html" class="le-button">Add to cart</a>
							</div>
							<div class="wish-compare">
								<a class="btn-add-to-wishlist" href="#">Add to Wishlist</a>
								<a class="btn-add-to-compare" href="#">Compare</a>
							</div>
						</div>
					</div><!-- /.product-item -->
				</div><!-- /.product-item-holder -->

				<div class=" no-margin carousel-item product-item-holder size-medium hover">
					<div class="product-item">
						<div class="ribbon blue"><span>new!</span></div> 
						<div class="image">
							<img alt="" src="{% static 'assets/images/blank.gif' %}" data-echo="{% static 'assets/images/products/product-14.jpg' %}" />
						</div>
						<div class="body">
							<div class="title">
								<a href="single-product.html">kardon BDS 7772/120 integrated 3D</a>
							</div>
							<div class="brand">harman</div>
						</div>
						<div class="prices">
							<div class="price-current text-right">$1199.00</div>
						</div>
						<div class="hover-area">
							<div class="add-cart-button">
								<a href="single-product.html" class="le-button">Add to cart</a>
							</div>
							<div class="wish-compare">
								<a class="btn-add-to-wishlist" href="#">Add to Wishlist</a>
								<a class="btn-add-to-compare" href="#">Compare</a>
							</div>
						</div>
					</div><!-- /.product-item -->
				</div><!-- /.product-item-holder -->

				<div class=" no-margin carousel-item product-item-holder size-medium hover">
					<div class="product-item">
						<div class="ribbon green"><span>bestseller</span></div> 
						<div class="image">
							<img alt="" src="{% static 'assets/images/blank.gif' %}" data-echo="{% static 'assets/images/products/product-15.jpg' %}" />
						</div>
						<div class="body">
							<div class="title">
								<a href="single-product.html">netbook acer travel B113-E-10072</a>
							</div>
							<div class="brand">acer</div>
						</div>
						<div class="prices">
							<div class="price-current text-right">$1199.00</div>
						</div>
						<div class="hover-area">
							<div class="add-cart-button">
								<a href="single-product.html" class="le-button">Add to cart</a>
							</div>
							<div class="wish-compare">
								<a class="btn-add-to-wishlist" href="#">Add to Wishlist</a>
								<a class="btn-add-to-compare" href="#">Compare</a>
							</div>
						</div>
					</div><!-- /.product-item -->
				</div><!-- /.product-item-holder -->

				<div class=" no-margin carousel-item product-item-holder size-medium hover">
					<div class="product-item">

						<div class="image">
							<img alt="" src="{% static 'assets/images/blank.gif' %}" data-echo="{% static 'assets/images/products/product-16.jpg' %}" />
						</div>
						<div class="body">
							<div class="title">
								<a href="single-product.html">iPod touch 5th generation,64GB, blue</a>
							</div>
							<div class="brand">apple</div>
						</div>
						<div class="prices">
							<div class="price-current text-right">$1199.00</div>
						</div>
						<div class="hover-area">
							<div class="add-cart-button">
								<a href="single-product.html" class="le-button">Add to cart</a>
							</div>
							<div class="wish-compare">
								<a class="btn-add-to-wishlist" href="#">Add to Wishlist</a>
								<a class="btn-add-to-compare" href="#">Compare</a>
							</div>
						</div>
					</div><!-- /.product-item -->
				</div><!-- /.product-item-holder -->

				<div class=" no-margin carousel-item product-item-holder size-medium hover">
					<div class="product-item">

						<div class="image">
							<img alt="" src="{% static 'assets/images/blank.gif' %}" data-echo="{% static 'assets/images/products/product-13.jpg' %}" />
						</div>
						<div class="body">
							<div class="title">
								<a href="single-product.html">s2340T23" full HD multi-Touch Monitor</a>
							</div>
							<div class="brand">dell</div>
						</div>
						<div class="prices">
							<div class="price-current text-right">$1199.00</div>
						</div>
						<div class="hover-area">
							<div class="add-cart-button">
								<a href="single-product.html" class="le-button">Add to cart</a>
							</div>
							<div class="wish-compare">
								<a class="btn-add-to-wishlist" href="#">Add to Wishlist</a>
								<a class="btn-add-to-compare" href="#">Compare</a>
							</div>
						</div>
					</div><!-- /.product-item -->
				</div><!-- /.product-item-holder -->

				<div class=" no-margin carousel-item product-item-holder size-medium hover">
					<div class="product-item">
						<div class="ribbon blue"><span>new!</span></div> 
						<div class="image">
							<img alt="" src="{% static 'assets/images/blank.gif' %}" data-echo="{% static 'assets/images/products/product-14.jpg' %}" />
						</div>
						<div class="body">
							<div class="title">
								<a href="single-product.html">kardon BDS 7772/120 integrated 3D</a>
							</div>
							<div class="brand">harman</div>
						</div>
						<div class="prices">
							<div class="price-current text-right">$1199.00</div>
						</div>
						<div class="hover-area">
							<div class="add-cart-button">
								<a href="single-product.html" class="le-button">Add to cart</a>
							</div>
							<div class="wish-compare">
								<a class="btn-add-to-wishlist" href="#">Add to Wishlist</a>
								<a class="btn-add-to-compare" href="#">Compare</a>
							</div>
						</div>
					</div><!-- /.product-item -->
				</div><!-- /.product-item-holder -->
			</div><!-- /#recently-carousel -->

		</div><!-- /.carousel-holder -->
	</div><!-- /.container -->
</section><!-- /#recently-reviewd -->
<!-- ========================================= RECENTLY VIEWED : END ========================================= -->
        </div><!-- /.page-main-content -->
        <!-- ========================================= CONTENT : END ========================================= -->

    </div><!-- /.container -->
</section><!-- /.sidebar-page -->

        <!-- ============================================================= FOOTER ============================================================= -->
{% include 'footer.html' %}

{% include 'javascript_file.html' %}

</div>
</body>
</html>